[submodule "application/crosstools"]
	path = application/crosstools
	url = https://github.com/philippe44/crosstools
[submodule "application/libcodecs"]
	path = application/libcodecs
	url = https://github.com/philippe44/libcodecs
[submodule "application/libpupnp"]
	path = application/libpupnp
	url = https://github.com/philippe44/libpupnp
[submodule "application/libopenssl"]
	path = application/libopenssl
	url = https://github.com/philippe44/libopenssl
[submodule "application/libpthreads4w"]
	path = application/libpthreads4w
	url = https://github.com/philippe44/libpthreads4w
